.row {
    display: flex;
    
  }
  

.column {
    flex: 50%;
}

.borders {
    border-style: solid;
    margin: 0;
    border-width: thin;
}

body { 
    font-family: 'MabryPro', sans-serif;
}

@font-face {
    font-family: "MabryPro";
    src: url('Mabry\ Pro.otf');
}

.greyback {
    background-color: grey;
    margin: 0;
    border-style: solid;
    border-width: thin;
}